input[type=checkbox] {
	width: 15px;
	height: 15px;
	&:hover {
		&:before {
			background: $primaryColor;
		}
	}
	position: relative;
}
input[type=checkbox]:before {
	content: '';
	width: 15px;
	height: 15px;
	border: solid 2px $primaryColor;
	display: block;

}
input[type=checkbox]:checked {
	&:before {
		background: $primaryColor;
	}
}
input[type=checkbox]:checked:after {
	width: 12px;
	height: 12px;
	font-family:$icon_font_name;
	position: absolute;
	top: 1px;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	color: #fff;
}
