input[type="radio"] {
	width: 25px;
	height: 25px;
	margin-right: 5px;
	cursor: pointer;
	appearance: none;
	border: 1px solid $grayColor100;
	content: none;
	outline: none;
	border-radius: 30px;
	position: relative;
}


input[type="radio"]::before {
	content: "";
	width: 19px;
	height: 19px;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em #ff5722;
	display: block;
	position: relative;
	top: 2px;
	left: 2px;
}

input[type="radio"]:checked {
	border: 1px solid $grayColor100 !important;
}

input[type="radio"]:checked::before {
	transform: scale(1);
}

#project_funded-error {
	position: absolute;
}
