$icon_font_name:"iconfont-cl";
@font-face {
	font-family:$icon_font_name;
	src: url('../fonts/iconfont-cl.eot');
	src: url('../fonts/iconfont-cl.eot?#iefix') format('embedded-opentype'),
	url('../fonts/iconfont-cl.woff') format('woff'),
	url('../fonts/iconfont-cl.ttf') format('truetype'),
	url('../fonts/iconfont-cl.svg#iconfont-cl') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
	font-family:$icon_font_name;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Novaventa:before {
	content:'\E001';
}
.icon-alarm:before {
	content:'\E002';
}
.icon-arrow-down:before {
	content:'\E003';
}
.icon-arrow-left:before {
	content:'\E004';
}
.icon-arrow-right:before {
	content:'\E005';
}
.icon-baby:before {
	content:'\E006';
}
.icon-beauty:before {
	content:'\E007';
}
.icon-car:before {
	content:'\E008';
}
.icon-card:before {
	content:'\E009';
}
.icon-categories:before {
	content:'\E00A';
}
.icon-checkmark:before {
	content:'\E00B';
}
.icon-close:before {
	content:'\E00C';
}
.icon-coupon:before {
	content:'\E00D';
}
.icon-delivery:before {
	content:'\E00E';
}
.icon-detail:before {
	content:'\E00F';
}
.icon-facebook:before {
	content:'\E010';
}
.icon-favorite:before {
	content:'\E011';
}
.icon-filter:before {
	content:'\E012';
}
.icon-gift:before {
	content:'\E013';
}
.icon-headset:before {
	content:'\E014';
}
.icon-home:before {
	content:'\E015';
}
.icon-instagram:before {
	content:'\E016';
}
.icon-mail:before {
	content:'\E017';
}
.icon-menu:before {
	content:'\E018';
}
.icon-minus:before {
	content:'\E019';
}
.icon-more:before {
	content:'\E01A';
}
.icon-play:before {
	content:'\E01B';
}
.icon-printer:before {
	content:'\E01C';
}
.icon-quality_award:before {
	content:'\E01D';
}
.icon-questions:before {
	content:'\E01E';
}
.icon-search:before {
	content:'\E01F';
}
.icon-segurity:before {
	content:'\E020';
}
.icon-share:before {
	content:'\E021';
}
.icon-stationery:before {
	content:'\E022';
}
.icon-truck:before {
	content:'\E023';
}
.icon-twitter:before {
	content:'\E024';
}
.icon-user:before {
	content:'\E025';
}
.icon-whatsapp:before {
	content:'\E026';
}
